<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.capstone2">
    <uses-feature
        android:required="true"
        android:glEsVersion="0x00020000"/>
    <permission
        android:name="kr.co.ilg.permission.MAPS_RECEIVE"
        android:label="signiture"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCPDPoKy_UbzVcIcrEtVKAtNaafvx42Nio"/>
        <activity android:name="kr.co.ilg.activity.login.SplashActivity" android:theme="@style/SplashTheme" android:label="스플래시">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="kr.co.ilg.activity.login.LoginActivity" android:label="로그인"/>
        <activity android:name="kr.co.ilg.activity.findwork.MainActivity" android:label="일자리 찾기"/>
        <activity android:name="kr.co.ilg.activity.login.BusinessLicenseConfirmActivity" android:label="사업자 등록번호 인증" android:parentActivityName="kr.co.ilg.activity.login.LoginActivity"/>
            <activity android:name="kr.co.ilg.activity.login.SignupPasswordActivity" android:label="비밀번호 설정" android:parentActivityName="kr.co.ilg.activity.login.BusinessLicenseConfirmActivity"/>
        <activity android:name="kr.co.ilg.activity.mypage.WriteOfficeInfoActivity" android:label="사무소 정보 입력"/>
        <activity android:name="kr.co.ilg.activity.mypage.AccountAddActivity" android:label="계좌 등록"/>
        <activity android:name="kr.co.ilg.activity.login.FindPasswordInfoActivity" android:label="비밀번호 찾기" android:parentActivityName="kr.co.ilg.activity.login.LoginActivity"/>
        <activity android:name="kr.co.ilg.activity.login.FindPasswordShowActivity" android:label="비밀번호 확인" android:parentActivityName="kr.co.ilg.activity.login.FindPasswordInfoActivity"/>
        <activity android:name="kr.co.ilg.activity.findwork.WorkInfoActivity" android:label="일자리 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.FieldInfoActivity" android:label="현장 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.OfficeInfoActivity" android:label="인력사무소 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.WorkMapActivity" android:label="일자리 지도"/>
        <activity android:name="kr.co.ilg.activity.findwork.WritePostingActivity" android:label="일자리 게시"/>
        <activity android:name="kr.co.ilg.activity.workermanage.FieldListActivity" android:label="인력 관리"/>
        <activity android:name="kr.co.ilg.activity.workermanage.WorkerListActivity" android:label="인력 관리"/>
        <activity android:name="kr.co.ilg.activity.mypage.MypageMainActivity" android:label="내 정보"/>
        <activity android:name="kr.co.ilg.activity.findwork.ApplyStateActivity" android:label="지원자 현황"/>
        <activity android:name="kr.co.ilg.activity.findwork.PickStateActivity" android:label="선발자 현황"/>
        <activity android:name="kr.co.ilg.activity.workermanage.GujicProfileForGuin" android:label="구인자가 볼 구직자 프로필"/>
    </application>

</manifest>